@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #F2F3F4;
}

.container {
	margin: 0 10rem;
}

@media (max-width: 1000px) {
	.container {
		margin: 0 5rem;
	}
}

@media (max-width: 600px) {
	.container {
		margin: 0 .5rem;
	}
}

h2,
h3 {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1.5rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}






/* Nav - start */

nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(242,243,244,0.9);
	z-index: 100;
	animation: fade 1.5s ease-in;
}

.navbar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-list {
	list-style: none;
	display: flex;
}

.nav-link {
	color: black;
	text-decoration: none;
	border: 0.1rem solid black;
	padding: 0.1rem 1rem;
	margin: 1rem;
	border-radius: 1rem;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.25rem;
	transition: .5s;
}

.nav-link:hover,
.nav-link:focus {
	color: white;
	background-color: black;
}

.nav-toggler {
	display: none;
	color: black;
}

@media (max-width: 600px) {
	.nav-toggler {
		display: block;
		padding: 1rem;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-end;
	}

	.nav-list {
		display: none;
		flex-direction: column;
		width: 100%;
		text-align: center;
		padding-bottom: 0.5rem;
	}

	.nav-list.display-nav-list {
		display: flex;
	}

	.nav-link {
		display: inline-block;
		margin: 0.5rem;
	}
}

.active {
	color: white;
	background-color: black;
}

/*Nav - end*/





/*Home section - start*/

.home-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100Vh;
}

.name-and-summary,
.name-and-summary h1,
.name-and-summary img {
	width: 100%;
}

.name-mobile {
	display: none;
}

@media (max-width: 1000px) {
	.name-mobile {
		display: inline;
	}
	.name-desktop {
		display: none;
	}
}

.name-and-summary h1 {
	animation: fade 2s ease-in;
}

.name-and-summary p {
	font-family: 'Courgette', cursive;
	color: #0C009F;
	font-size: 2rem;
	margin-top: 2rem;
	animation: shift 1s ease, fade 1.5s ease-in;
}

@media (max-width: 600px) {
	.name-and-summary p {
		font-size: 1.5rem;
	}
}

.social-links {
	position: absolute;
	bottom: 1rem;
	animation: fade 1.5s ease-in;
}

.github-link,
.linkedin-link {
	color: black;
	margin: 1rem;
	opacity: 0.6;
	transition: .5s;
}

.github-link:hover,
.github-link:focus,
.linkedin-link:hover,
.linkedin-link:focus {
	opacity: 1;
}

@keyframes fade {
	0% {opacity: 0}
	100% {opacity: 1}
}

@keyframes shift {
	0% {transform: translateY(150%)}
	100% {transform: translateY(0)}
}

/*Home section - end*/





/*About section - start*/

#about {
	padding: 10rem 0 0 0;
}

.about-flex {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7rem;
}

.about-flex img {
	min-width: 0;
	width: 100%;
	height: auto;
	border: 0.2rem solid black;
	border-radius: 50%;
}

.about-flex > * {
	flex: 1;
	max-width: 600px;
}

@media (max-width: 1000px) {
	#about {
		padding: 4rem 0 0 0;
	}

	.about-flex {
		flex-direction: column;
		text-align: center;
		gap: 2rem;
	}

	.about-flex img {
		max-width: ;
	}
}

.special-blue {
	color: #0C009F;
}

/*About section - end*/





/*Projects section - start*/

#projects {
	padding: 10rem 0;
	text-align: center;
}

.projects-flex {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	gap: 3rem;
}

.card {
	flex: 1;
	padding: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1000px) {
	#projects {
		padding: 5rem 0 0 0;
	}

	.projects-flex {
		flex-direction: column;
		align-items: center;
	}

	.card {
		max-width: 400px;
	}
}

@media (max-width: 600px) {
	.projects-flex {
		flex-direction: column;
	}
}

/*Projects section - end*/





